html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
	font-family: helvetica, arial, sans-serif;
	background: #38573e;
}

#canvas, #overlaycanvas, #barriercanvas, #foodcanvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    position: absolute; top: 0px; left: 0px;
	z-index: 10;
}

canvas, #bg {
	width: 1800px;
	height: 1400px;
}

canvas#miniMap {
	width: 121px;
	height: 100px;
	float: left;
}

#mapControl {
	background: #ddd0a1;
	width: 150px;
	height: 100px;
	position: absolute;
	top: 30px;
	right: 0;
}

#map_scale {
	width: 29px;
	overflow: auto;
	float: left;
}

#mapControl .scaleButton {
	cursor: pointer;
	color: white;
	width: 100%;
	height: 32px;
	float: left;
	background: #900;
	text-align: center;
	line-height: 30px;
	font-size: 10px;
	border-bottom: 1px solid #b00;
}

#mapControl .scaleButton.selected {
	background-color: #b00;
}

#mapControl .scaleButton.zoomIn {
	background-image: url('../img/sprites.png');
	background-position: -30px -120px;
}

#mapControl .scaleButton.zoomOut {
	background-image: url('../img/sprites.png');
	background-position: 0px -120px;
}

#canvas {
	opacity: 0.7;
}

#game {
	position: relative;
	width: 1100px;
	height: 730px;
	margin: 0 auto;
	background: white;
	margin-top: 30px;
	border: 10px solid #9e8b73;
	overflow: hidden;
}

.bg {
	background: white url('../img/sand.jpg') repeat;
}


#scrollContainer {
	background: white;
	overflow: hidden;
	position: absolute; top: 30px; left: 60px;
	right: 150px;
	bottom: 0;
}

#scrollContainer.full {
	overflow: hidden;
}


.hill {
	position: absolute;
	z-index: 0;
}

.compass {
	width: 36px;
	height: 36px;
	overflow: auto;
}
.compass div {
	float: left;
	background: white;
	border: 1px solid #333;
	width: 10px;
	height: 10px;
	
}

.drawMode, .playControls {
	overflow: auto;
}

.header {
	background: #466d4e;
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	height: 30px;
	left: 0;
	font-size: 12px;
	line-height: 30px;
	text-align: right;
	padding-right: 5px;
}

.header h1 {
	font-size: 14px;
	float: left;
	line-height: 30px;
	margin: 0 12px;
}

.header .version {
	color: #38573e;
	display: inline-block;
	font-size: 10px;
	margin-left: 10px;
}

.header span {
	color: #f5d20e;
	display: inline-block;
	background: #2f4934;
	border-radius: 10px;
	height: 20px;
	margin: 5px 0;
	padding: 0 7px;
	line-height: 23px;
	font-weight: bold;
}

.toolbar {	
	background: #80715d;	
	width: 60px;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: auto;
	line-height: 60px;
	position: absolute;
	left: 0;
	top: 30px;
	bottom: 0;
	transition: 0.2s;
}

.toolbar.hideleft {
	left: -60px;
}

.toolbar h2 {
	font: normal 10px/1.5 helvetica, arial, sans-serif;
	color: #bbb;
	margin-top: 20px;
	margin-bottom: 0;
}

.toolbar button {
	width: 44px;
	display: block;
	height: 44px;
	border: 2px solid transparent;
	border-radius: 5px;
	float: left;
	margin-left: 7px;
	margin-top: 7px;
	margin-bottom: 7px;
	outline: none;
	cursor: pointer;
	-webkit-transition:background-color .2s, border .2s;
	transition: background-color .2s, border .2s;
}

.toolbar button.disabled {
	opacity: 0.4;
	cursor: default;
}

.toolbar button.disabled:hover {
	border: 2px solid transparent;
	background-color: transparent !important;
	cursor: default;
}

.footer {
	color: #60956a;
	font-size: 12px;
	line-height: 40px;
}

.deadhead, .babySprite {
	position: absolute;
	z-index: 100;
}

#panButton {
	background: transparent url('../img/sprites.png') -120px -80px no-repeat;
}

#antButton {
	background: transparent url('../img/sprites.png') 0 0 no-repeat;
}

#entranceButton {
	background: transparent url('../img/sprites.png') -160px 0 no-repeat;
}

.fingerIcon {
	background: transparent url('../img/sprites.png') -80px -40px no-repeat;
}

.pauseIcon {
	background: transparent url('../img/sprites.png') 0px -40px no-repeat;
}

.playIcon {
	background: transparent url('../img/sprites.png') -40px -40px no-repeat;
}

.healthbarIcon {
	background: transparent url('../img/sprites.png') -120px -40px no-repeat;
}

.trailIcon {
	background: transparent url('../img/sprites.png') -80px 0 no-repeat;
}

#foodButton {
	background: transparent url('../img/sprites.png') -40px 0 no-repeat;
}

#barrierButton {
	background: transparent url('../img/sprites.png') -120px 0 no-repeat;
}

.groundIcon {
	background: transparent url('../img/sprites.png') 0 -80px no-repeat;
}

.configIcon {
	background: transparent url('../img/sprites.png') -40px -80px no-repeat;
}

.eraserIcon {
	background: transparent url('../img/sprites.png') -80px -80px no-repeat;
}

.gameover {
	position: absolute; 
	top: 130px;
	left: 210px;
	width: 500px;
	background: rgba(40,40,40, 0.9);
	color: white;
	padding: 40px;
	border-radius: 25px;
	display: none;
	z-index: 2000;
	
}

.gameover span {
	color: #f5d20e;
}

.toolbar button.active, .toolbar button.active:hover {
	background-color: #6d604f !important;
	border-color: #635748;
}

.toolbar button:hover {
	background-color: #907f69 !important;
	border-color: #756755;	
}

#tilesDrawer {
	position: absolute;
	background: #6d604f;
	top: 130px;
	bottom: 0;
	right: 0;
	width: 150px;
	overflow-y: auto;
	overflow-x: hidden;
	transition: 0.2s;
}

#tilesDrawer.hideright {
	right: -150px;
}

#foodcanvas.circle_cursor {
	cursor: url(../img/eraser.png), auto;
}

#foodcanvas.hand_cursor {
	cursor: pointer;
}

#foodcanvas.move_cursor {
	cursor: all-scroll;
}

.antTile {
	height: 50px;
	cursor: pointer;
	width: 150px;
	background: #80715d;
	color: white;
	float: left;
	text-align: left;
	padding: 5px;
	border-bottom: 1px solid #6d604f;
	box-sizing: border-box;
	position: relative;
}

.antTile:hover {
	background: #907f69;
}

.antTile .head {
	float: left;
}

.antTile .name {
	color: #ddd;
	float: left;
	font-size: 10px;
	margin-left: 6px;
	width: 100px;
}

.antTile .name.dead {
	color: #484035;
}

.antTile .distance {
	float: left;
	font-size: 10px;
	margin-left: 6px;
	margin-top: 3px;
}

.antTile .delivered {
	float: left;
	font-size: 10px;
	margin-left: 6px;
	margin-top: 3px;
}

.antTile .kills {
	float: left;
	font-size: 10px;
	margin-left: 6px;
	margin-top: 3px;
}

.antTile.hasFood:before {
	content: '';
	width: 10px;
	height: 10px;
	background: #00bb00;
	border-radius: 5px;
	position: absolute;
	right: 20px;
	top: 5px;
}

.antTile.selected, .atnTile.selected:hover {
	background: #6d604f;
	border-bottom: 1px solid #6d604f;
}

.head0 {
	background: transparent url('../img/head.png') 0 0 no-repeat;
	float: left;
	width: 30px;
	height: 30px;
}

.head1 {
	background: transparent url('../img/head.png') -30px 0 no-repeat;
	float: left;
	width: 30px;
	height: 30px;
}

.head2 {
	background: transparent url('../img/head.png') 0 -30px no-repeat;
	float: left;
	width: 30px;
	height: 30px
}

.head0.dead, .head1.dead, .head2.dead {
	background: transparent url('../img/head.png') -60px 0 no-repeat;
}

.energy_container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #615647;
}

.energy {
	background: #00bb00;
	height: 100%;
	width: 100%;
	transition: 1s;
}

#config {
	color: white;
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(88,78,64,0.85);
	z-index: 20;
	text-align: left;
	padding: 30px;
}

#config h1 {
	margin-top: 0;
}

#config label {
	display: inline-block;
	width: 200px;
	font-size: 12px;
	line-height: 25px;
}

#config input[type=text] {
	width: 50px;
	margin-right: 10px;
}

.rangeBound {
	font-size: 10px;
	color: #bbb;
}

#titleScreen {
	background: #466d4e;
	color: white;
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: white url('../img/sand.jpg') repeat;
	background-size: 50%;
}

#titleScreen .version {
	margin-top: 30px;
	color: #4a7251;
}

#logo {
	margin-top: 100px;
}

#titleScreen button, #config button {
	display: block;
	background: #4a7251;
	width: 300px;
	font-size: 20px;
	font-weight: bold;
	color: #b0d7b7;
	border: 2px solid white;
	padding: 10px; 
	line-height: 30px;
	margin: 20px auto 0 auto;
	border-radius: 8px;
	transition: 0.2s;
	cursor: pointer;
	box-shadow: 5px 5px 8px rgba(0,0,0, 0.2);
}

#titleScreen button:hover, #config button:hover {
	background: #53805b;	
}

#titleScreen button:active, #config button:active {
	background: #3d5e43;
	color: #8cab92;
	box-shadow: 2px 2px 8px rgba(0,0,0, 0.2);
	position: relative;
	top: 1px;
	left: 1px;
}

#configButton {
	display: none;
}
